/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Literata:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
 */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  /* --color-primary: #AF905C; */ /* Couleur de base */
  --color-primary: #c4ad86; /* recalculer avec opacite */
  --color-texte: #4b4949;
  --color-fond-carte: #fbfbfb;
  --color-fond-banniere: #ebeae9;
  --color-fond-nav: #d4d2d1;

  --font-h1: "Playfair Display", serif;
  --font-h2: "Lora", serif;
  --font-body: "Literata", serif;
  --font-logo: "Cinzel Decorative", serif;
}

@layer components {
  .btn {
    @apply flex items-center py-2 px-4 rounded rounded-2xl bg-primary text-center text-texte hover:bg-primary/80;
  }
}
