@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Literata:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  /* --color-primary: #AF905C; */ /* Couleur de base */
  --color-primary: #c4ad86; /* recalculer avec opacite */
  --color-texte: #4b4949;
  --color-fond-carte: #fbfbfb;
  --color-fond-banniere: #ebeae9;
  --color-fond-nav: #d4d2d1;

  --font-h1: "Playfair Display", serif;
  --font-h2: "Lora", serif;
  --font-body: "Literata", serif;
  --font-logo: "Cinzel Decorative", serif;
}
